


<div class="container p-3">
    <div class="col-6">
        <h2 class="text-primary"></h2>
    </div>
    <div class="col-6" style="margin-left:920px">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("UpSert", "Product")'"><i class="bi bi-plus-circle"></i> Create New Product</button>

    </div>
</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
        </tr>

    </thead>
    <!--<tbody>-->
     
    <!--</tbody>-->
</table>

